.App {
  border: 1px solid #3d3d3d;
  margin: 50px 30px;
  padding: 25px 15px;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: darkred;
  font-size: 30px;
}

.to-do-container {
  display: flex;
  flex-direction: column;
}

.to-do-container ul li {
  width: 170px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
  color: darkred;
  font-size: 20px;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item span {
  cursor: pointer;
  font-size: 20px;
}

input {
  padding: 5px;
  font-size: 20px;
  color: darkred;
  margin-bottom: 10px;
  caret-color: darkred;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  color: #fff;
  background-color: darkred;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}